<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" rel="stylesheet" href="styles.css">
    <script src="project.js" defer></script>
    <title>ToDoList</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <a href="./todolist">
            <img class="logo-img" src="./pictures/lion_logo.png" alt="logo"></img>
            </a>
        </header>
        <div class="background"></div>
        <nav>
            <div class="navigation">
                <div class="navigation-start">
                    <li>
                        <a href="./todolist">Let's meet</a>
                    </li>
                </div>
                <div class="navigation-end">
                    <li>
                        <a href="./signin">Signin</a>
                        <span>/</span>
                        <a href="./signup">Signup</a>
                    </li>
                </div>
                </ul>
            </div>
        </nav>
        <div class="main-field registration">
            <div class="registration-form"> 
                <p>Login</p>
                div.error-handler #{error}
                <form id="registrationForm" action="/signin" method="POST">
                    <input type="email" name="email" class="signin-email" placeholder="Enter your email" required/>
                    <input type="password" name="password" class="signin-password" placeholder="Enter your password" required/>
                    <button class="enter-to-system-button"> Log in</button>
                    <a href="./signup">I dont have account</a>
                </form>
            </div>
        </div>

        <footer>
            <p>
                <a href="https://github.com/ro-mgh/todolist_project" target="_blank">
                    <img class="git-img" src="pictures/git-logo.png" alt="Git">
                </a>
            </p>
        </footer>

    </div>

</body>

</html>